# 0.0. List of keyboard shortcuts and basic functions
- getting help on keyword: shift tab
- count a_list: length of list

In [ ]:
x:10 20 30
y:(1;2;3)
x*y

# 1.0 Shock and awe

In [ ]:
"c"$0x57656c6c20646f6e6521

- the = sign tests for equality (q does not abuse the = sign)
- the colon (:) is used for assigning values to variables (assignables). reads is assigned or gets.
- assignment does not echo per se. use show command to echo the value while assigning

In [ ]:
show a: 42 / to show the value of an assignable together with the assigning

## 1.6. assignment

In [ ]:
show a:42 / intended to be a comment
1+b:11 / In q an assignment carries the value being assigned and can be used as part of a larger expression
b:1+a:42 / value of assignment can be propagated onward
b

## 1.7. Order of evaluation:
- expressions are evaluated right to left as in mathematics
- but list of expressions, delimited by semi-colons, are evaluated from left to right

## 1.8. Data types 101

- long: the basic data type is a 64-bit, long, signed integer (range: -2^63 - 2^63-1) (same as long in Java)

In [ ]:
show a:2 xexp 8 / exponentiation
show b:2 xlog a

- float: 64 bit signed floating point number (same as double in Java) (conforming to IEEE specification)
    forward slash is for comments therefore division is written as %!!!!!!!!!

In [ ]:
10 % 2 / division always result in a float

- boolean values
    true: 1b
    false: 0b

In [ ]:
1 = 0
1 = 1

In [ ]:
2000.01.01 / this is actually 0
2014.11.19 / this is actually 5436
2019.01.31
1999.12.31 / this is actually -1
1999.12.31+1
2000.01.01 = 1999.12.31+1

## Temporal types: date, timespan
- date is the number of days since the millennium (2000.01.01 00:00:00), positive for post and negative for pre
- timespan: represents a time value. It is a long integer count of the number of nanoseconds (10 xexp -9) since midnight
    (metric prefixes: https://en.wikipedia.org/wiki/Metric_prefix)
    you can carry out arithmetic calculations with temporal types:

In [ ]:
00:00:00.999999999+00:00:00.000000001
00:00:00.999999000+1000

2000.01.01=0
12:00:00.000000000=12*60*60*1000000000

Textual data
- "symbol" is an atomic data type: same as VARCHAR in SQL and string in other languages
    (in q, strings mean something different)
    notation: back tick followed by characters: `iamasymbol

In [ ]:
`aaa=`aab
`aaa=`aaa

## 1.9 Lists

- lists are the fundamental data type in q
- lists are an ordered collection of items sequenced from left to right, separated by semi-colons

In [ ]:
show l:(1;2;21;22;4)+1
l,10,11 / appending en element or another list to a list

- simple lists (homogeneous lists): can contain data of the same type
    - simplified format for storage and display
- heterogenious lists: can contain different atomic data types (and data structures?). (to be avoided, processing is slower)

- list construction in general and simplified forms:

In [ ]:
(1;2.3;`one) / heterogenious list
s_list:(1;2;3;4;55) / simple list
show a_list:(1; 2; 3; 4; s_list)
show "b list"
show b_list:4 3 5 2 / simple list definied in a simplified form (works only with simple lists)
(2000.01.01; 2000.01.02; 2001.01.03) / date list
(2019.01.30; 2019.01.31+1; 3033.10.20) / date list
(1b;0b;0b) / a list of booleans
(`john;`jack;`jane) / a list of symbols

- Constucting lists with operations and list manipulation
    - til: same as range() in Python

In [ ]:
til 10
1+til 10
2*til 10 / first ten even numbers
1+2*til 10 / first ten odd numbers
42+2*til 10 / ten even numbers starting from 42
2*42+til 10

- joining lists with a comma: ,

In [ ]:
l2:10 20 30
l3:1 2 3
show l2,l3
l2+l3

- extracting elements with the take operator (#) and indexing
    the hashtag always returns a list
    + takes from the front
    - takes from the back
    0#list returns an empty list with the same type of the original list

In [1]:
ll2:11 12 33 43 55 632
l2:11 12 33 43 55 632
(2 * count l2)#l2
1#l2
-2#l2
0#l2
0#`
10#l2 / extracts more elements than the count of the list by iterating over and over the list
10#2 / # can be used to create a list of the same atom or the same sequence of numbers

-2#l2 / how to extract last but one element of a list?
l2[1]

l2[4] / outputs ON. WHAT IS IT?
1 4 sublist ll2 / returns a sublist of a list starting from the first parameter with a length of the second parameter

11 12 33 43 55 632 11 12 33 43 55 632

,11

55 632

`long$()

`symbol$()

11 12 33 43 55 632 11 12 33 43

2 2 2 2 2 2 2 2 2 2

55 632

12

55

12 33 43 55

## 1.10. Functions

- all built-in q operations are functions
- built-ins are optimized in k or C
- all built-ins can be used within infix notation (operator)
- custom functions can only be used in prefix form
- functions in q are the same as lambda / anonymous functions in other languages
- functions are first class citizens of the q language just as atomic data types
- conceptually, a q function is a sequence of steps that produces an output value from input value(s)
- q is not a purely functional language. q functions can have side effects (data exchange with the outside world)
- function definition is delimited by {}
- formal parameters are names enclosed in [] and separated by ;
- functions can take x;y;z as implicit parameters
- function juxtaposition: []s can be omitted from function call if it has only one parameter

In [ ]:
l1:(1;2;3)
l2
sq:{[x] x*x}
sq 5
s_sq:{[x;y] a:x*x;b:y*y;a+b}
s_sq2:{a:x xexp 2;b:y xexp 2;a+b}
s_sq2[2;4]
s_sq[3;5]
avrg:{(x+y)%2}
avrg[1;3]

s_sq3:{x xexp 2}
s_sq3[l2]
s_sq[l1;l2]

## 1.11. Functions on lists 101

- q is a vector language, so most built-in operators work on list data structure as well. functions recursively burrow into lists until they find atomic data types and apply the operation on them

In [ ]:
1+10 20 30
100 100 20 20=100 100 20 30
100 100 20 20<100 100 20 30

- higher order functions (adverbs): functions that have the same essence of another function but applied in a different manner. take e.g. the sum function and the addition operator
- over (+/): elementwise addition of a list, which folds the list into one value

In [ ]:
0 +/ 1 2, 3, 4
0 +/ 1+til 10
1*/2_til 6
(*/) 2_til 6
fact:{(*/) 1+til x} / factorial function
fact2:{$[x=0;1;x*.z.s[x-1]]} /  with recursion
fact 5
fact2 5

In [ ]:
4&5 / minimum for two values
4|5 / maximum for two values
(|/) 1 2 3 4 5 6 / = max
(&/) 1 2 3 4 5 6 / = min
(+/) / = sum
(*/) / = prd

In [ ]:
2#3 / makes a two elelment list of 3
5#3 4 / creates a five-element list of two element list
2#3
(*/) 2#3 / 2nd power of 3

\ scan: transforms built-in operators to higher order functions. the sibling of over (/)
- returns not only the final result, but the intermediate elements
- scan converts a dyadic function into a monadic uniform function

In [ ]:
a:1+til 5
b:5 10 1 2 3 2
(+/) a / = sum (returns the sum of the elements of a list)
(+\) a / = sums (accumulative sum)

(*/) a / = prd (returns the product of all elements in a list)
(*\) a / = prds (accumulative product and then creating a list from them)

(&/) b / = min (returns the smallest element in a list)
(&\) b / = mins (returns a list of the smaller element resulting from pairwise comparison)

(|/) b / = max (returns the largest element in a list)
(|\) b / = maxs (returns a list of the larger elements resulting from pairwise comparison of elements in the list)

## 1.12. Exercise: Fibonacci numbers

In [ ]:
fib:{[n;sig] n {x,sum -2#x}/ sig} / fibonacci function without recursion
fib[15; 0 1]

In [ ]:
fib_seq:{[n] n-1; $[n=0;1;.z.s[x,{sum -2#x}]/ 1 1]} / does not work
fib_seq 5

## 1.13. Exercise: Newton's method for nth roots

In [ ]:
{[xn] xn-((xn*xn)-2)%2*xn}[1.0]
\P 0 / sets the floating point display to maximum
{[xn] xn-((xn*xn)-2)%2*xn}/[1.0] / using over to make higher order function from initial function

{[c; xn] xn-((xn*xn)-c)%2*xn}[4.0;]/[1.0]
{[p; c; xn] xn-(((*/)p#xn)-c)%p*(*/)(p-1)#xn}[2; 3.0;]/[1.0] / square root of 3
{[p; c; xn] xn-(((*/)p#xn)-c)%p*(*/)(p-1)#xn}[5; 7.0;]/[1.0] / 5th root of 7

## 1.14 Exercise: [FIFO allocation](https://code.kx.com/q4m3/1_Q_Shock_and_Awe/#114-example-fifo-allocation)

In [ ]:
show buys:2 1 4 3 5 4f
show sell:12f
show allocation:2 1 4 3 2 0
show sums allocation
sell&sums buys

deltas buys / returns the difference of successive elements in a list (the initial element is untouched)
 / (inverse sums)

deltas sell&sums buys / FIFO ALLOCATION

- TO BE CONTINUED: THE same thing only applied to multiple element buy and sell lists

In [ ]:
buys:2 1 4 3 5 4f
sells:2 4 3 2

/
desired output
allocations
2 0 0 0 0 0
0 1 3 0 0 0
0 0 1 2 0 0
0 0 0 1 1 0
\

In [ ]:
sums buys
sums sells
2&sums[buys]
6&sums[buys]
9&sums[buys]
11&sums[buys]

In [ ]:
sums[sells]&\:sums[buys] / \: is the 'each left' notation

In [ ]:
count (1 2 4 5;6 2 5 3 6)
count each (1 2 4 5;6 2 5 3 6) / example for 'each' with count

In [ ]:
sums buys
sums sells
sums[sells]&\:sums[buys] / take the lesser value when comparing buys with sells elementwise
deltas sums[sells]&\:sums[buys] / unwind allocation across columns
deltas each sums[sells] &\: sums[buys] / unwind allocation across all rows
deltas each deltas sums[sells] &\: sums[buys] / unwind allocation across all columns and rows

## 1.15. Dictionaries and Tables 101

In [ ]:
/ dictionaries are constructed from two lists of the same length with the ! operator
d:`a`b`c!1 2 3 / left of ! are the keys (not forced to be unique)
d[`a]

- 'named columns': a named collections of columns, which is a named list of lists basically
    - count
    - indexing
    - indexing at depth: reflects that dictionary is a two dimensional entity
    - omitting indexing
    - transposing

In [ ]:
d1:`a`b!(10 20 30;11 22) / named columns can have different counts
count each d1
d2:`a`b!(10 20 30;1.1 2.2 3.3)
d2
d2[`a][0] / extracting an element from the value of a key in a dictionary
d2[`a;0]
d2[`a;] / = d2[`a]
d2[;2]
td2:flip d2 / named columns can only be transposed if they have the same length
d2[`a;0] / column first;row second in a dictionary of lists
td2[0;`a] / row first;column second in a transposed dict of lists (follows convention of indexing order)

- table: is a _flipped column dictionary_
    - tables are first class entities in q
    - syntactically, a table is a list of record dictionaries
    - physically, a table is always stored as a collection of names columns

In [ ]:
d2:`a`b!(10 20 30;1.1 2.2 3.3)
td2:flip d2
d2
d2[`a]
td2
td2[0] / this first row in transposed column dictionary corresponds to a record of an sql table

- another way to create a flipped column dictionary:
    - square brackets signals that it is a table
    - colon is a separator (another meaning next to assignment)
    - column names are converted to symbol type implicitly

In [ ]:
flip `C1`C2!(333 444 555;2.3 4.4 7.6)
([] c1: 100 110 130;c2: 3.3 5.6 7.2) / used with keyed tables

## 1.16 q-sql 101
- different ways to operate on tables:
    - perform dictionary operations on tables as column dictionaries
    - use sql like q-sql syntax

### select template
- mimics sql select, but not entirely:
    - sql operates on fields by a row-by-row basis
    - kdb+ stores data in tables on a column-by column basis and
        - q-sql select performs vector operations on column lists
- it is not evaluated from right to left
- : in select template is not assignment but a separation of the column name from the q expression
- by: group by
- where = where

In [ ]:
t:([] c1:1000+til 6; c2:`a`b`c`a`b`a; c3:10*1+til 6)
t
select from t / select * from t
select c1 from t / select c1 from t
select c1, val:2*c3 from t / select c1, (2 * c3) as val from t
select c1 from t where c1 > 1001 / same in sql
select count c1, sum c3 from t
select count c1, sum c3 by c2 from t / select c2, count(c1), sum(c3) from t group by c2
select count c2 by ovrund:c3<=40 from t / you can group by on a computed column

### update template
- mimics UPDATE TABLE table_name SET column_name WHERE condition;

In [ ]:
update c3:10*c3 from t where c2=`a / UPDATE t SET c3 = c3 * 100 WHERE c1 = 'a'
update c3:10*c3 from `c2 xasc t where c2=`a / UPDATE t SET c3 = c3 * 100 WHERE c1 = 'a' + SELECT * FROM t ORDER BY c2 ACS

In [ ]:
`c2 xasc t

## 1.17. Trades Table

- ? (roll, as infix): x?y generates x numbers from a list ranging from zero to y:
- example codes:

In [ ]:
5?10
5?10.0
5?`a`b`c`d`e`f`g
5?(0b;1b)

In [ ]:
 / creating the columns of the table separately
dts:2015.01.01+1000000?31 / creating 1 million random dates in January of 2015.
tms:1000000?24:00:00.000000000
syms:1000000?`aapl`goog`ibm
vols:10*1+1000000?1000
pxs:90.0+(1000000?2001)%100
trades:([] dt:dts;tm:tms;sym:syms;vol:vols;px:pxs)
trades:`dt`tm xasc trades / sorted by colulmn dt first and then column tm
5#trades / print only the first 5 rows of a table

In [ ]:
 / some q-sql code
trades:update px:6*px from trades where sym=`goog
trades:update px:2*px from trades where sym=`ibm

In [ ]:
select avg px, avg vol by sym from trades

In [ ]:
select min px, max px by sym from trades

In [ ]:
/
helper functions for bucketed weighted average calculations
- x xbar y (rounding): returns the numeric y rounded down to the nearest multiple of integer x
    use case: creating intervals in a q-sql query
- l1 wavg l2 (weighted average): left operands = weights, right operands: values
\
3 xbar til 15
1 2 3 wavg 100 100 500

 / computing the 100-millisecond bucketed volume-weighted average price (VWAP)
select vwap:vol wavg px by sym,bkt:100000000 xbar tm from trades
 / the result is the maximum profit realizable over the trading period

In [ ]:
 / find the largest difference in price where the minimum precedes the maximum:
select max px-mins px by sym from trades
select pxmin:min px by sym,dt,tm,px from trades where px = min px / find date and time to buy and sell

In [ ]:
 / find the maximum of the differences between the current price and the minimum up to that point
max trades[`px] - mins trades[`px]
 / this would give the maximum value regardless of which occurred earlier: the maximum or the minimum
(max trades[`px]) - mins trades[`px]

## 1.18. [File I/O 101](https://code.kx.com/q4m3/1_Q_Shock_and_Awe/#118-file-io-101)
#### [More on file handling](https://code.kx.com/q4m3/11_IO/)

data types:
- char
    - primitive data type
    - single ASCII character in double quotes
- string:
    - a simple list of characters
    - not an atomic data type
    - not a first class entity of the q language
    - different from symbol atomic type: count "string" has a length of the number of characters in it, symbol does not

In [ ]:
"a"
" "
"_"
str:("s";"t";"r";"i";"n";"g")
count str
(2*(count str))#str
count `string

#### Writing binary files with set and get
- no instantiation of readers, writers or serializers
- "symbolic handles": a simbolic file handle is a symbol of a particular form that represents a particular resource on the file system
- notation of symbolic handels: `: (backtick + colon)` `:path/filename.ext
- set: save / write function, which saves the data in a serialized binary data file (if success, echos symbolic file handle to stdout)
- get: read function to read in a file (if successful, echos nothing)

In [ ]:
tio:([] c1:`a`b`c; c2:1.1 2.2 3.3)
tio
`:/home/akincsei/Downloads/tio2 set tio

In [ ]:
gee:get `:tio

In [ ]:
gee

#### [Handling txt files](http://178.62.21.29/q/ref/filenumbers/#0-text-files)
- saving strings to text files: "0:" operator
- syntax: symbolic file handle 0: operator list of strings (chars)
- 0: will write the elements of the string list in separate lines in the file
- reading text files to strings: read0 `simbolic_file_handle
- read0 will read the lines of a txt file as elements of a string list

In [ ]:
`:life.txt 0: ("Meaning";"of";"life")

In [ ]:
lf:read0 `:life.txt
lf

#### [Handling csv files](http://178.62.21.29/q/ref/filenumbers/#load-csv)
- three different overloads of the 0: operator
    1. prepares the tables as text
        - q handles the quoting and escaping of special characters
    2. writes list of strings to text files
    3. parsing formatted csv into q table

In [ ]:
 / 1. preparing the tables as list of strings
csv 0: tio

In [ ]:
 / 2. writing the string to a csv file
`tio.csv 0: csv 0: tio

In [ ]:
 / reading .csv file into memory as list of strings
read0 `tio.csv

In [ ]:
/
3. parsing formatted csv directly into q table
- first argument: data type of columns (S: String, F:float)
- second argument:
    - type of delimiter (,)
    - enlist: means the first line of our csv file contains headers
\
tio_read:("SF"; enlist ",") 0: `tio.csv
tio_read

## 1.19. [Inter-process communication (IPC sockets): synchronous callbacks](https://code.kx.com/q4m3/1_Q_Shock_and_Awe/#119-interprocess-communication-101)

Server side:
- opening a port \p 30210
- \p checking if port is open
- assign the port to a host: It has the same syntax as file handling:
    - `:localhost:30210

Client side:
- open connection on client and assign it to a variable:
    h:hopen `:localhost:30210
    calling the the h variable / function handles a synchronous request to the server
    variable h is called an open handle: it holds a function to send and receive requests to / from the server
    e.g.: h "4*6" sends the string to the server which calculates it and sends it back
- close connection: hclose h
Synchronous means that the client blocks until receives the response from the server

Send expressions to or call functions on server:
h (`func_name;param1;param2...)

## 1.20. [Example: Asynchronous callbacks](https://code.kx.com/q4m3/1_Q_Shock_and_Awe/#120-example-asynchronous-callbacks)

- in case of anychronous callbacks the client does not block while it waits for the server's response: the application of the open handle returns immediately
- there are no built-in callbacks, but we can create our own
- calling the the "neg h" function handles an asynchronous request to the server
    - (neg h) (`remote_function;param1;param2)
    - (neg .z.w): asynchronously calls back the sender (.z.w: "who is?")

In [ ]:
rsvp:{[arg;cb] show arg; (neg .z.w) (cb; 43); show `done;} / function to call on server.
 / (neg .z.w)(callback_name;callback_param) is the real callback function
echo:{show x} / function to call back on client
(neg h)(`rsvp;"waiting for callback";`echo)

## 1.21. [Websockets 101](https://code.kx.com/q4m3/1_Q_Shock_and_Awe/#121-websockets-101)

- [WebSockets](https://en.wikipedia.org/wiki/WebSocket) can be used to put a browser front end on traditional applications, replacing both the web server and proprietary GUI packages
- The key idea of WebSockets:
    - the client makes an initial HTTP request to upgrade the protocol.
    - If the request is accepted, subsequent communication occurs over TCP/IP sockets protocol.
    - Once the WebSockets connection is made, either the client or server can initiate messaging.

In [ ]:
\p 5042 / open port

/
.z.ws: web socket handler
sets the ws handler to a function that will be called on receipt of each message from the browser
-8!"answer" serializes the answer
\
.z.ws:{0N!-9!x; neg[.z.w] -8!42}

In [ ]:
 / broken yahoo link for drawing a chart (ws101.q)

# Function collection

In [ ]:
fact:{[n] (*/) 1+til n} / factorial without recursion
fact_rec:{$[x=0;1;x*.z.s[x-1]]} / factorial with recursion
fib:{[n;sig] n {x,sum -2#x}/ sig} / fibonacci function without recursion

In [ ]:
fact 30

In [ ]:
fact_rec 30